.app-container {
background: white;
height: 100vh;
min-width: 100vw;
font-family: 'Mona Sans';
}

.spinner-div{
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
}

